.modal {
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    padding: 40px;
    top: 10%;
    background-color: white;
}

.newAccount {
    bottom: 25px;
    right: 25px !important;
}